@page "/AllPost"

<div >
    <TelerikListView Data="@BlogPostDtoList" Width="100%" Pageable="true">
        <HeaderTemplate>
            <h2>Last Posts:</h2>
        </HeaderTemplate>
        <Template>
            <div class="k-card k-card-horizontal">
                <div class="k-vbox k-flex-grow">
                    <div class="k-card-body">
                        <h4 class="k-card-title">@context.Title</h4>
                        <h5 class="k-card-subtitle">@context.Author</h5>
                        <div class="card-date">@context.WriteTime.ToString("MMM dd yyyy")</div>
                        <p>Summary: @context.Summary</p>
                    </div>
                    <div class="k-card-actions k-card-actions-horizontal k-card-actions-start">
                        <ListViewCommandButton OnClick="@(args => SeePost(context.Id))" Class="k-flat IBGCaqua">See Post</ListViewCommandButton>
                    </div>
                </div>
                <img class="k-card-image" src="@context.PostImageUrl" />
            </div>
        </Template>
    </TelerikListView>
</div>

@code {
    protected IEnumerable<BlogPostDto> BlogPostDtoList;
    protected override async Task OnInitializedAsync()
    {
        BlogPostDtoList = await _httpRequestHandler
        .GetAsHttpAsync<IEnumerable<BlogPostDto>>("BlogPost/GetAllBlogPost");
    }
    void SeePost(long? id)
    {
        _navigationManager.NavigateTo($"/Post/{id}");
    }
}
