@layout TelerikLayout
@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>
    <div class="main">
        <TelerikNotification @ref="@TelerikClasses.Instance" AnimationType="@AnimationType.PushRight" AnimationDuration="300" HorizontalPosition="@NotificationHorizontalPosition.Center" VerticalPosition="@NotificationVerticalPosition.Top" Class="big-notification">
        </TelerikNotification>
        <CascadingValue IsFixed="true" Value="@TelerikClasses.Instance">
            <div class="main" style="min-height: inherit">
                @*<BreadcrumbWrapper />*@
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </CascadingValue>
    </div>
</div>